//- Pagination
mixin pagination(active, last)
    //- amount - amount of displayed numbers +1 prior ellipsis
    //- active - active number
    //- ellipsis - number to be replaced by ellipsis
    //- last - number after ellipsis
    .pagination

        //- prev arrow
        - var prevPage = active - 1;
        - var prevPageLink = `page=${active+1}`
        if (active !== 1)
            a(href=prevPageLink title='Prev page').pagination__prev.icon-pagination-prev ◀
        else

        ul.pagination__list
            //- before ellipsis
            - for (var index = active - 2; index <= active; index++)
                if (index === active)
                    li.pagination__item.is-active
                        a(href='?page=#{active}' title='Current page #{index}').pagination__number= index
                else
                    li.pagination__item
                        a(href=('?page=#{index}') title=('Go to page #{index}')).pagination__number= index

            - for (var index = (active + 1); index <= (active + 2); index++)
                li.pagination__item
                    a(href=('?page=#{index}') title=('Go to pagе #{index}')).pagination__number= index
        //- next arrow
        if (active !== last)
            a(href=('?page=#{active+1}') title='Next page').pagination__next.icon-pagination-next ▶
        else
