//- Pagination
mixin pagination(active, last)
    //- amount - amount of displayed numbers +1 prior ellipsis
    //- active - active number
    //- ellipsis - number to be replaced by ellipsis
    //- last - number after ellipsis
    .pagination
        - var activeNum = Number(active)
        - var lastNum = Number(last)
        //- prev arrow
        if (activeNum !== 1)
            a(href=`?page=${activeNum-1}` title='Prev page').pagination__prev.icon-pagination-prev ◀
        else

        - var before = activeNum - 2 > 0 ? activeNum - 2 : activeNum - 1
        - var after = activeNum + 2 > last ? activeNum + 2 : last
        ul.pagination__list
            //- before ellipsis
            - for (var index = before; index <= activeNum; index++)
                if (index === activeNum)
                    li.pagination__item.is-active
                        a(href=`?page=${Number(index)}` title=(`Current page ${index}`)).pagination__number= index
                else
                    li.pagination__item
                        a(href=`?page=${Number(index)}` title=(`Go to page ${index}`)).pagination__number= index

            - for (var index = (activeNum + 1); index <= (activeNum + 2); index++)
                li.pagination__item
                    a(href=`?page=${Number(index)}` title=(`Go to page ${index}`)).pagination__number= index
        //- next arrow
        if (activeNum !== lastNum)
            a(href=`?page=${activeNum-1}` title='Next page').pagination__next.icon-pagination-next ▶
        else
